/* Table of Contents
 _____________________________________
 -General Contents
 -Typography
 -Header & Navigation
 -Images & Media
 -Footer
 -Media Queries
 _____________________________________*/
/* General Content
______________________________________*/
body{
	background-image: url("../images/mydesk.png");
	background-size: cover;
	background-repeat: no-repeat;
}
/* .over{
    background: rgba(0, 0, 0, 0.7 );
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
} */

.red{
	background-color:rgba(0, 0, 0, .6);
	height: auto;
	
}


.main{
	padding-top:3%;

}
.row{padding: 1% 0;}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: black;
}4
a:hover {
	text-decoration: none;
	color: rgba(0,0,255,1);
}
a:active {
	text-decoration: none;
	color: rgba(0,255,0,1);
}

/* Typography
______________________________________*/

body{
	font-family: 'Space Mono', sans-serif;
	font-size:1.75em;
	color: white;
}
h2, h1{
	text-align: center;
}
/* Header & Navigation
______________________________________*/

.navSocial{
	padding-top:2.5%;
	text-align: right;
	width: 30%;
}
.navSocial ul li{
	display: inline-block;
	list-style-type: none;
}
ul.headerSocial li.linkedin a:hover{color: rgb(0,123,182);}
ul.headerSocial li.github a:hover{color: rgb(255,255,255);}
/* Images & Media
______________________________________*/

img{
	width: 100%;
}
.polaroid{
	text-align: center;
	background-color: white;
}
.portfolio{
	background-color: white;
	margin-bottom: 25px;
}

/* Footer
______________________________________*/ 

ul.social{
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}
ul.social li{
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}
ul.social li a{
	color: #666;
}
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,273);}
ul.socia l li.instagram a:hover{color: rgb(81,127,273);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}
ul.social li.flickr a:hover{color: rgb(255,0,132);}
ul.social li.linkedin a:hover{color: rgb(0,123,182);}
ul.social li.github a:hover{color: rgb(0,0,0);}

p.copyright{
	text-align: center;
	color: #666;
	font-size: 1em;
} 
footer{
	background-color: #000;
	text-align: center;
}

footer img{
	width:150px;
}
 
 /* Media Queries
______________________________________*/

@media (max-width: 550px) {
	.logo a{font-size: 2em;}
	.main{padding-top:15%;}
	/*.portfolio img{margin-bottom: 10%;}*/
	img.avatar{margin-top: 15%;}
	h2.bio{font-size: 2.5em;}
	p.bio{font-size:1.25em; color: #3f7f7c;}
	ul.social li a{font-size: .75em;}
	.navSocial{display:none;}
	.navLogo{
	margin-right: 25%;
	padding-top: 3%;
	
}
}
